on property:ro.boot.hwc=*
    setprop vendor.boot.hwc ${ro.boot.hwc}

on property:init.svc.vendor.cnss_diag=running
    stop vendor.cnss_diag

on property:init.svc.vendor.tcpdump=running
    stop vendor.tcpdump

on property:vendor.post_boot.parsed=1
    # Setup runtime cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-5,7
    write /dev/cpuset/background/cpus 4-5
    write /dev/cpuset/system-background/cpus 2-5
    write /dev/cpuset/restricted/cpus 2-5

    # Kill core_ctl
    write /sys/devices/system/cpu/cpu0/core_ctl/enable 0
    write /sys/devices/system/cpu/cpu0/core_ctl/disable 1
